@import "tailwindcss";

/* App-wide styles */
:root {
  /* typography */
  --font-primary: "Nunito Sans", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  --font-secondary: "Source Code Pro", monospace;
  --font-accent: "Lora", serif;

  /* Colors */
  --background-color: hsla(175, 10%, 14%, 1);
  --background-color-2: hsla(334, 10%, 14%, 1);
  --text-color: hsla(175, 8%, 72%, 1);
  --emphasis-color: hsla(338, 85%, 47%, 1);
  --accent-color: hsla(175, 100%, 50%, 1);
  --white-color: hsla(0, 0%, 100%, 1);
  --black-color: hsla(0, 0%, 2.4%, 1);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

html {
  font-size: 62.5%; /* 62.5% of default 16px = 10px */
}

/* Media Queries for font size */
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 122.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: var(--font-primary);
  position: relative; /* important! */
  background-image: url("./assets/bg-texture.jpg");
  background-blend-mode: color-burn;
  background-repeat: repeat;
  background-size: 50rem;
  background-position: top left;
  background-color: var(--background-color);
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed; /* covers full viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  opacity: 0.9; /* controls overlay opacity */
  pointer-events: none; /* ensures clicks pass through */
  z-index: -1; /* behind all content */
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.font-accent {
  font-family: var(--font-accent);
}

/* .active {
  background-color: var(--emphasis-color);
  color: var(--white-color);
  padding-left: 1rem;
  padding-right: 4rem;
  width: calc(width + 4rem); 
} */
