@import "tailwindcss";

/* App-wide styles */

:root {
  --font-primary: "Nunito Sans", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  --font-secondary: "Lora", serif;
  --font-mono: "Source Code Pro", monospace;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-primary);
}
