@import "tailwindcss";

/* App-wide styles */
:root {
  /* typography */
  --font-primary: "Nunito Sans", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  --font-secondary: "Source Code Pro", monospace;
  --font-accent: "Lora", serif;

  /* Colors */
  --background-color: hsla(175, 10%, 14%, 1);
  --background-color-2: hsla(334, 10%, 14%, 1);
  --text-color: hsla(175, 8%, 72%, 1);
  --emphasis-color: hsla(338, 85%, 47%, 1);
  --accent-color: hsla(175, 100%, 50%, 1);
  --white-color: hsla(0, 0%, 100%, 1);
  --black-color: hsla(0, 0%, 2.4%, 1);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Media Queries for font size */
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 122.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: var(--font-primary);
  background-color: var(--background-color);
}
